body {
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
}

.charts_area {
    float: right;
    height: 100%;
    width: 60%;
		margin-top: 2%;
}

.throughput_charts {
    height: 50%;
		background-color: #eee;
		margin-bottom: 3%;
}

.latency_charts {
    height: 50%;
		background-color: #eee;
}
