body {
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
}

.charts_area {
	width: 95%;
	margin-top: 2%;
}

.throughput_charts {
	text-align: center;
}

.latency_charts {
	float: right;
}

.slider_area {
	height: 60px;
	margin-top: 1.5%;
	text-align: center;
}

.slider_area .slider_label {
	font-weight: bolder;
	text-align: center;
	margin-bottom: 10px;
}
